* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #192E3C;
}

header {
    height: 70px;
    border: 1px solid black;
    background-color: #2E3A46;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .content-logo {
    width: 70px;
    height: 70px;
}

.content-logo img {
        width: 100%;
    }

 a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 0 10px;
}

.container-cards {
    padding-top: 100px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box-card {
    width: calc(100% / 5 - 30px);
    margin: 10px 15px;
    padding: 20px;
    text-align: center;
    background-color: #2E3A46;
    cursor: pointer;
    transition: all 0.3s;

}
   

.box-card  img {
    width:100%;
}

.box-card h3{
    color: white;
    padding: 20px 0;
}

.box-card p {
    color: #6A6663;
}

